.feed {
    flex: 1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5efef;
    object-fit: contain;
    padding-top: 0px;
}


.feedHide {
    display: none;
}


 @media screen and (max-width: 885px) {
    .feed {
        padding-left: 0%;
        background-color: #d1d5db;
        
    }
} 

@media screen and (max-width: 530px) {
    .feed {
        padding-right: 0px;
        
    }
} 


