.story {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 120px;
    height: 200px;
    box-shadow: 0rem 0.3125rem 1.0625rem -0.4375rem rgba(0, 0, 0, 0.75);
    border-radius: 0.625rem;
    margin-right: 0.625rem;
    transition: transform 100ms ease-in;
    cursor: pointer;
    
}

.story:hover {
    transform: scale(1.07);
}

.story__avatar {
    margin: 0.625rem;
    border: 0.3125rem solid white;
}

.story > h4 {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    color: white;
}